/* IMPORTANT: This file is for :root variables only. */

$body-bg-color: #fefefe;
$body-font-color: #333;
$anchor-font-color: #419cc2;

/* typography */
$font-sans: 'Helvetica Neue', Helvetica, sans-serif;

/* dimensions */
$body-font-size: 1rem;
$body-font-size-small: 0.9rem;
$body-font-range: 34rem 48rem;
$content-width-min: 26rem;
$content-width-max: 75rem;
